@import '../../utils/variables.scss';

.todo-container {
	font-size: 1rem;
	color: black;
	background-color: white;
	border-radius: 0.15rem;
	text-align: left;
	border: 1px solid rgb(208, 208, 208);
	padding: 0.7rem;
	transition: all 0.2s;

	&:hover {
		cursor: pointer;
		background-color: #e0e0e0;
	}
}

.to-do-todo {
	border: 1px solid $to-do-color-border;

	&:hover {
		background-color: $to-do-color-hover;
	}
}

.in-progress-todo {
	border: 1px solid $in-progress-color-border;

	&:hover {
		background-color: $in-progress-color-hover;
	}
}

.completed-todo {
	border: 1px solid $completed-color-border;

	&:hover {
		background-color: $completed-color-hover;
	}
}

.hide {
	display: none;
}

.todo-container:hover + .hide {
	display: block;
	color: red;
}
