$to-do-color-bg: #faecec;
$to-do-color-text: #c4554d;
$to-do-color-border: #f4d5d5;
$to-do-color-hover: #f6dddd;

$in-progress-color-bg: #faf3dd;
$in-progress-color-text: #c29243;
$in-progress-color-border: #f6eac4;
$in-progress-color-hover: #f8edcd;

$completed-color-bg: #eef3ed;
$completed-color-text: #548064;
$completed-color-border: #dee7dc;
$completed-color-hover: #e3ebe1;
