@import './utils/variables.scss';

.global-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin-top: 5%;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2rem;
}

.todos-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 2rem;
	border-radius: 0.25rem;
	width: 24rem;
	padding: 1rem 0.5rem;
	background-color: rgb(246, 246, 246);
}

.todos-container > div {
	width: 100%;
	border-radius: 0.15rem;
}

.todos-container__title {
	font-size: 1.25rem;
	padding: 0.3rem;
	font-weight: 600;
}

.todos-container__todos {
	display: flex;
	flex-direction: column;
	font-weight: 500;
	gap: 0.4rem;
	padding: 0.5rem;
}

.to-do > div {
	background-color: $to-do-color-bg;
	color: $to-do-color-text;
}

.in-progress > div {
	background-color: $in-progress-color-bg;
	color: $in-progress-color-text;
}

.completed > div {
	background-color: $completed-color-bg;
	color: $completed-color-text;
}

@media (max-width: 768px) {
	main {
		flex-direction: column;
		gap: 1rem;
	}

	.todos-container {
		width: 20rem;
	}
}

@media (max-width: 1024px) {
	main {
		gap: 1rem;
	}

	.todos-container {
		width: 20rem;
	}
}
